@import '@/app/globals.scss';

.Candidate{
    padding: 1.5rem 0;
    padding-bottom: 0;
    min-height: 75vh;
    align-items: center;
    margin-top: 48px;
    .header{
        color: $main-color;
        font-size: 3.6rem;
        height: 6rem;
        //z-index: 1;
        text-align: center;
        text-shadow: 1.5px 1.5px 2px#cecaca;
    }
    .content{
        display: flex;
        border-top: 1px solid #cecaca; /* Ajoutez une bordure en haut */
        box-shadow: 0 1px 10px #cecaca;
        .Menu{
            padding: 2rem 0;
            display: flex;
            flex-direction: column;
            background-color: $main-color;
            //z-index: 0;
            color: white;
            width: 12rem;
            position:absolute;
            min-height: 80vh;
            height: 100%;
            font-size: 1.4rem;
            box-shadow: 0 1px 10px #cecaca;
            //border-radius: 0px 20px 20px 0px;
            li{
                ul{
                    text-decoration: none;
                }
            }
        }
        .Candidate-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow-y: scroll;
            min-height: 80vh;
            position: relative;
            padding-left: 12rem;
            height: 250px;
            h1{
                font-size: 2.8rem;
                color: $primary;
            }
            .lists{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                padding: 1rem 0;
                align-items: center;
                justify-content: center;
                //position:fixed;
                .list{
                    text-align: left;
                    //display: flex;
                    gap: 2rem;
                    margin: 10px 20px 10px 20px;
                    box-shadow: 0 1px 10px #cecaca;
                    padding: 20px;
                    padding-bottom: 100px;
                    border-radius: 20px;
                    //flex-direction: column;
                    h1{
                        font-size: 30px;
                        font-weight: 300;
                        color: $primary;
                    }
                    p{
                        font-size: 15px;
                    }
                }
            }
            .favories{
                //position: absolute;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                padding: 1rem 0;
                align-items: center;
                justify-content: center;
            }
        }
        /*.Candidate-box > *{
            
        }*/
    }
}
