@import '@/app/globals.scss';
.form-candidate{
  width:100%;
  h1{
    margin-top: 10px;
    font-size: 2.8rem;
    color: $primary;
}
      display: flex;
      justify-content: center;
            align-items: center;
            min-height: 80vh;
            padding-top: 1rem;
            //margin-left: 13rem;
            
            height: 100%;
            .div1{
              display: flex;
              flex-direction: column;
              margin-left: 14rem;
            }
            .div2{
              margin-left: 14vh;
              margin-right: 10vh;
              display: flex;
              flex-direction: column;
            }
            label:not(.inline),
            input:not(.inline) {
              display: block;
            }
            label {
              font-size: .9rem;
              font-weight: 500;
              text-transform: capitalize;
            }
            input {
              outline: none;
              border: 1px solid $footer-bg;
              border-radius: .5rem;
              padding: .5rem;
              margin-bottom: 1rem;
              width: 20rem;
            }
            .password-input {
              position: relative;
              .icon {
                width: 1.5rem;
                height: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 50%;
                right: 1rem;
                transform: translateY(-50%);
                cursor: pointer;
              }
            }
            .error {
              font-size: .7rem;
              color: $error-color;
              text-transform: capitalize;
              position: relative;
              top: -1rem;
            }
            .password-strength {
              position: relative;
              margin-bottom: 1.5rem;
              .message {
                font-size: .8rem;
                font-weight: 500;
                text-transform: capitalize;
                position: absolute;
                top: -1rem;
                right: 0;
              }
            }
            .checkbox {
              display: none;
              &:checked + label::after {
                visibility: visible;
              }
            }
            .checkbox-label {
              margin-left: 1.5rem;
              position: relative;
              user-select: none;
              &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -1.5rem;
                transform: translateY(-50%);
                width: 1rem;
                height: 1rem;
                border: 1px solid $footer-bg;
                border-radius: .2rem;
              }
              &::after {
                content: "\2714";
                font-size: 1.3rem;
                color: $main-color;
                width: 1rem;
                height: 1rem;
                position: absolute;
                top: -25%;
                left: -1.5rem;
                visibility: hidden;
              }
            }
            button {
              background-color: $main-color;
              color: $second-color;
              display: block;
              width: 100%;
              margin: .5rem 0;
              padding: .5rem;
              border-radius: .5rem;
              transition: .2s ease-in-out;
              &:hover {
                background-color: darken($main-color, 10%);
              }
            }
            .have-account {
              padding-top: 1rem;
              text-align: center;
              font-size: .9rem;
              a {
                color: $main-color;
                text-decoration: none;
                font-weight: 500;
              }
            }
}
@media(max-width: 1000px){
  .form-candidate{
    flex-direction: column;
    margin-top: 40px;
    padding-left: 5px;
    .div1{
      margin: 0px;
    }
    .div2{
      margin:0px;
    }
  }
}
@media(max-width: 1300px){
  .div-image{
    display: none;
  }
}