@import '@/app/globals.scss';
.jobs{
    button{
        font-size: 16px;
        font-weight: 250;
        text-align: center;
        padding: 8px;
        background-color: $main-color;
        color: $second-color;
        border-radius: 20px;
        margin: 10px;
        width: 8rem;
        transition: .3s ease-in-out;
        &:hover {
            font-size: 20px;
            font-weight: 300;
            background-color: darken($main-color, 10%);
        }
    }
    .lists-skills{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        padding: 1rem 0;
        align-items: center;
        justify-content: center;
    .list-skill{
        text-align: left;
        //display: flex;
        gap: 2rem;
        margin: 10px 20px 10px 20px;
        box-shadow: 0 1px 10px #cecaca;
        padding: 15px;
        border-radius: 15px;
        //flex-direction: column;
       h1{
            font-size: 24px;
            font-weight: 300;
            color: $primary;
        } 
        p{
            font-size: 18px;
        }
        }
    }
    @media(max-width:1225px){
        .lists-skills{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media(max-width:700px){
        .lists-skills{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media(max-width:500px){
        .lists-skills{
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .add{
    padding: 1.5rem;
    margin: 1rem;
    gap: 3.5rem;
    width: max-content;
    h2{
        font-size: 27px;
        font-weight: 300;
        color: rgb(65, 19, 214);
    }
    

    input{
        border-radius: 10px;
        border: 1px solid $footer-bg;
        padding: .5rem;
        margin-right: 50px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    }
    @media(max-width:700px){
        .add{
            display: flex;
            flex-direction: column;
            .list{
                display: flex;
                flex-direction: column;
            }
            input{
                max-width: 200px;
            }
        }
    }

    table {
        margin-left: 10%;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 90%;
        border-collapse: collapse;
    }

    table thead td {
        font-size: 28px;
      }
      
    
}
@media(max-width:991px){
    .jobs{
        padding: 1rem;
        table{
            margin-left: 0%;
            width: 100%;
        }
    }
}