@import '@/app/globals.scss';
.jobs{
    .add{
    padding: 1.5rem;
    margin: 1rem;
    gap: 3.5rem;
    width: max-content;
    h2{
        font-size: 27px;
        font-weight: 300;
        color: $footer-bg;
    }
    select{
        height: 3rem;
        border-radius: 10px;
        border: 1px solid $footer-bg;
        font-size: 20px;
        min-width: 10rem;
    }

    }
    @media(max-width:650px){
        .add{
            display: flex;
            flex-direction: column;
            select{
                max-width: 60px;
            }
        }
    }
}