@import '@/app/globals.scss';

.register {
  padding: 1.5rem 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin-top: 80px;
  // user-select: none;
  .container {
    .register-box {
      display: flex;
      gap: 2rem;
      .info-side {
        text-align: center;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        width: 45vw;
        .info {
          h3 {
            color: $main-color;
            font-size: 2rem;
            font-weight: 400;          
          }
        }
      }
      .form-side {
        width: 100%;
        padding: 4rem 2rem;
        position: relative;
        top: 0;
        box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
        border-radius: 1rem 1rem 0 0;
        .form {
          form {
            .form-group {
              display: flex;
              flex-direction: column;
              label:not(.inline),
              input:not(.inline) {
                display: block;
                width: 100%;
              }
              label {
                font-size: .9rem;
                font-weight: 500;
                text-transform: capitalize;
              }
              input {
                outline: none;
                border: 1px solid $footer-bg;
                border-radius: .5rem;
                padding: .5rem;
                margin-bottom: 1rem;
              }
              .nation{
                display: flex;
                gap: 25px;
                input{
                  width: 70%;
                }
                label{
                  width: 20%;
                  padding-top: 20px;
                }
              }
              .url-adress{
                display: flex;
                gap: 25px;
                input{
                  width: 70%;
                }
                label{
                  width: 20%;
                  padding-top: 20px;
                }
              }
              .password-input {
                position: relative;
                .icon {
                  width: 1.5rem;
                  height: 1.5rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: absolute;
                  top: 50%;
                  right: 1rem;
                  transform: translateY(-50%);
                  cursor: pointer;
                }
              }
              .error {
                font-size: .7rem;
                color: $error-color;
                text-transform: capitalize;
                position: relative;
                top: -1rem;
              }
              .password-strength {
                position: relative;
                margin-bottom: 1.5rem;
                .message {
                  font-size: .8rem;
                  font-weight: 500;
                  text-transform: capitalize;
                  position: absolute;
                  top: -1rem;
                  right: 0;
                }
              }
              .checkbox {
                display: none;
                &:checked + label::after {
                  visibility: visible;
                }
              }
              .checkbox-label {
                margin-left: 1.5rem;
                position: relative;
                user-select: none;
                &::before {
                  content: '';
                  position: absolute;
                  top: 50%;
                  left: -1.5rem;
                  transform: translateY(-50%);
                  width: 1rem;
                  height: 1rem;
                  border: 1px solid $footer-bg;
                  border-radius: .2rem;
                }
                &::after {
                  content: "\2714";
                  font-size: 1.3rem;
                  color: $main-color;
                  width: 1rem;
                  height: 1rem;
                  position: absolute;
                  top: -25%;
                  left: -1.5rem;
                  visibility: hidden;
                }
              }
              button {
                background-color: $main-color;
                color: $second-color;
                display: block;
                width: 100%;
                margin: .5rem 0;
                padding: .5rem;
                border-radius: .5rem;
                transition: .2s ease-in-out;
                &:hover {
                  background-color: darken($main-color, 10%);
                }
              }
              .have-account {
                padding-top: 1rem;
                text-align: center;
                font-size: .9rem;
                a {
                  color: $main-color;
                  text-decoration: none;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: 992px) {
      .register-box {
        flex-direction: column;
        align-items: center;
        .info-side {
          width: fit-content;
          .info-image {
            display: none;
          }
        }
        .form-side {
          top: 0;
        }
      }
    }
  }
}
