
    .education{
        margin-right: 20px;
        #ls{
            grid-template-columns: auto;
            padding: 0px;
        }
    }
    .certificats{
        margin-left: 20px;
    }
.others{
    display: flex;
}