@import '@/app/globals.scss';
// Colors

$secondary: #000000;
$gray: #9E9E9E;

// General Styles
.addpost{
   padding: 1.5rem 0;
   min-height: 75vh;
   display: flex;
   align-items: center;
   .container {
      //justify-content: center;
      //align-items: center;
   
      .addpost-box{
         display: flex;
         gap: 5rem;
         .info-side {
            text-align: center;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 55rem;
            .info{
               letter-spacing: 4px;
               h1 {
                  color: $primary;
                  font-size: 2rem;
                  font-weight: 400;          
                }
            }
         }
         .from-description{
          display: flex;
         padding: 40px;
         width: 100%;
         max-width: 60rem;
         box-shadow: 0 1px 10px #cecaca;
         border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
         height: fit-content;
         margin-top: 70px;

         .options {
            display: flex !important;
            gap: 10px;
            padding-left: 15px;
            #jobType{
               margin-left: 60px;
               //text-align: left;
            }
            label{
               font-size: 1.2rem;
               font-weight: 400;
               text-transform: capitalize;
               margin-bottom: 10px;
            }
         }

         .job-date{
            display: flex;
            label{
               margin-top: 10px;
            }
            input{
               width: max-content;
               margin: 0px 120px 10px 20px;
            }
            
         }

         select{
            max-width: 200px;
            height: 40px;
            margin-right: 120px;
         }
         .salary{
            display: flex;
            gap: 3px;
            margin-bottom: 12px;
            margin-top: 6px;
            label{   
               display: inline-block;
               vertical-align: middle;
               width: 400px;
            }
            input{
               display: inline-block;
               vertical-align: middle;
               height: 40px;
               margin-right: 10px;
            }
            }

         h1 {
            color: $primary;
            margin-bottom: 1rem;
         }

         p {
            font-size: 1.1rem;
            margin-bottom: 2rem;
         }

         label {
            font-size: 1.2rem;
               font-weight: 400;
               text-transform: capitalize;
         }

         input, textarea, select {
            width: 100%;
            padding: 0.5rem;
            margin-bottom: 1rem !important;
            box-sizing: border-box;
            border: 1px solid $gray;
            border-radius: 4px;
            outline: none;
            font-size: 1.2rem;
            //color: $secondary;
         }

         textarea {
            resize: none;
            height: 100px;
         }
         .degree-selector {
            position: relative;
            width: 300px;
            margin-bottom: 20px;
        }

        .degrees{
         margin-left: 120px;
        }
        
        .dropdown {
            position: relative;
            display: inline-block;
            width: 30%;
        }
        
        .dropdown button {
            width: 100%;
            padding: 5px;
            background-color: $primary;
            color: white;
            border: none;
            cursor: pointer;
            text-align: left;
            border-radius: 4px;
        }
        
        .dropdown-menu {
            position: absolute;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            width: 150%;
            z-index: 1;
            border-radius: 4px;
            margin-top: 5px;
            max-height: 150px; /* Set a maximum height for the dropdown */
            overflow-y: auto; /* Enable vertical scrolling */
            padding-right: 10px;
        }
        
        .dropdown-item {
            padding: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
        
        .dropdown-item label {
            width: 100%;
        }
        
        .degree-tags {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
         }
        
        .degree-tag {
            display: inline-flex;
            align-items: center;
            background-color: #e0e0e0;
            padding: 5px 10px;
            border-radius: 3px;
        }
        
        .degree-tag button {
            background: none;
            border: none;
            margin-left: 5px;
            cursor: pointer;
            color: red;
        }

         .foot{
            display: flex;
            input{
               width: 6rem;
               margin-left: 20px;
            }
            
         }

         button {
            width: 40%;
            margin-left: 33%;
            margin-bottom: 15px;
            margin-top: 10px;
            padding: 7px;
            background-color: $main-color ;
            color: $second-color;
            font-size: 1.5rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.7s;

            &:hover {
               background-color: darken($main-color, 10%);
               font-size: 30px;
               font-weight: 500;
            }
         }

         }
         @media(max-width: 1200px){
            display: flex;
            flex-direction: column;
            .info-side{
               width: 100%;
               margin-top: 80px;
               gap: 20px;
               #img{
                  display: none;
               } h1{
                  margin-bottom: 20px;
               }
               p{
                  width: 27rem;
               }
            }
            .from-description{
               display: flex;
               flex-direction: column;
               margin-top: 0px;
               position: relative;
               input{
                  width:100%
               }
               .job-date{
                  flex-direction: column;
               }
               .options{
                  flex-direction: column;
               }
               .salary{
                  flex-direction: column;
               }
               .JobTitle{
                  display: flex;
                  flex-direction: column;
                  //width: 25rem;
                  margin-bottom: 6px;
                  margin-right: 6px;
               }
               .Adress{
                  display: flex;
                  flex-direction: column;
                  //width: 20rem;
               }
               .salary{
                  //width: 42rem;
                  input{
                     //width: 16rem;
                     margin-right: 2rem;
                  }
               }
               .JobDesc{
                  display: flex;
                  flex-direction: column;
                  //width: 80%;
                  height: 150px;
               }
               /*input{
                  max-width: 50rem;
               }*/
               .foot{
                  flex-direction: column;
                  button {
                     width: 10rem;
                     margin-top: 10px;
                     align-items: center;
                  }
               }
               
            }
         }
         @media(max-width: 1200px){

         }

      }

   }
}