@import '@/app/globals.scss';
// Colors

$secondary: #000000;
$gray: #9E9E9E;

// General Styles
.addpost{
   padding: 1.5rem 0;
   min-height: 75vh;
   display: flex;
   align-items: center;
   .container {
      //justify-content: center;
      //align-items: center;
   
      .addpost-box{
         display: flex;
         gap: 5rem;
         .info-side {
            text-align: center;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 55rem;
            .info{
               letter-spacing: 4px;
               h1 {
                  color: $primary;
                  font-size: 2rem;
                  font-weight: 400;          
                }
            }
         }
         .from-description{
          display: flex;
         padding: 40px;
         width: 100%;
         max-width: 60rem;
         box-shadow: 0 1px 10px #cecaca;
         border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
         height: fit-content;
         margin-top: 70px;

         .options {
            display: flex !important;
            gap: 10px;
            padding-left: 15px;
            #jobType{
               margin-left: 60px;
               //text-align: left;
            }
            label{
               font-size: 1.2rem;
               font-weight: 400;
               text-transform: capitalize;
               margin-bottom: 10px;
            }
         }

         .job-date{
            display: flex;
            label{
               margin-top: 10px;
            }
            input{
               width: max-content;
               margin: 0px 120px 10px 20px;
            }
            
         }

         select{
            max-width: 200px;
            height: 40px;
            margin-right: 120px;
         }
         .salary{
            display: flex;
            gap: 3px;
            margin-bottom: 12px;
            margin-top: 6px;
            label{   
               display: inline-block;
               vertical-align: middle;
               width: 400px;
            }
            input{
               display: inline-block;
               vertical-align: middle;
               height: 40px;
               margin-right: 10px;
            }
            }

         h1 {
            color: $primary;
            margin-bottom: 1rem;
         }

         p {
            font-size: 1.1rem;
            margin-bottom: 2rem;
         }

         label {
            font-size: 1.2rem;
               font-weight: 400;
               text-transform: capitalize;
         }

         input, textarea, select {
            width: 100%;
            padding: 0.5rem;
            margin-bottom: 1rem !important;
            box-sizing: border-box;
            border: 1px solid $gray;
            border-radius: 4px;
            outline: none;
            font-size: 1.2rem;
            //color: $secondary;
         }

         textarea {
            resize: none;
            height: 100px;
         }

         .foot{
            display: flex;
            input{
               width: 6rem;
            }
            button {
               width: 60%;
               margin-left: 20%;
               margin-bottom: 15px;
               background-color: $main-color ;
               color: $second-color;
               font-size: 1.5rem;
               border: none;
               border-radius: 5px;
               cursor: pointer;
               transition: background-color 0.3s;
   
               &:hover {
                  background-color: darken($main-color, 10%);
                  font-size: 30px;
                  font-weight: 500;
               }
            }
         }

         }
         @media(max-width: 1200px){
            display: flex;
            flex-direction: column;
            .info-side{
               margin-top: 80px;
               gap: 20px;
               #img{
                  display: none;
               } h1{
                  margin-bottom: 20px;
               }
               p{
                  width: 30rem;
               }
            }
            .from-description{
               margin-top: 0px;
               position: relative;
               .job-date{
                  flex-direction: column;
               }
               .options{
                  flex-direction: column;
               }
               .salary{
                  flex-direction: column;
               }
               .JobTitle{
                  display: flex;
                  flex-direction: column;
                  width: 25rem;
                  margin-bottom: 6px;
                  margin-right: 6px;
               }
               .Adress{
                  display: flex;
                  flex-direction: column;
                  width: 20rem;
               }
               .salary{
                  width: 42rem;
                  input{
                     width: 16rem;
                     margin-right: 2rem;
                  }
               }
               .JobDesc{
                  display: flex;
                  flex-direction: column;
                  width: 25rem;
               }
               /*input{
                  max-width: 50rem;
               }*/
               .foot{
                  flex-direction: column;
                  button {
                     width: 10rem;
                     margin-left: 50px;
                  }
               }
               
            }
         }
      }

   }
}