@import '@/app/globals.scss';

.blog {
  .container {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    gap: 3rem;
    h3 {
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: capitalize;
      color: $main-color;
      text-align: center;
    }
    .blog-content {
      a {
        background-color: $second-color;
        color: $main-color;
        border: 2px solid $main-color;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 10rem;
        border-radius: .5rem;
        padding: .2rem;
        margin: 2rem 0;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 786px) {
  .blog {
    .container {
      flex-direction: column;
      .blog-content {
        text-align: center;
        a {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
}
