@import '@/app/globals.scss';

.Projects{
    align-items: center;
            justify-content: center;
            min-height: 80vh;
            padding: 1rem 1rem 0rem 13rem;
            height: 100%;
    margin-left: 30px;
}